* {
  margin: 0;
  padding: 0;
  border: border-box;
}

#navbar {
  position: fixed;
  z-index: 1;
  top: 0px;
  height: 60px;
  color: #777777;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
  background-color: white;
}
#navbar a {
  margin-right: 50px;
  font-size: 20px;
}

#fimg {
  height: 600px;
  background-image: url("pexels-ozgomz-1755385.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* position: fixed; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}
#mylogo {
  /* height: 0px; */
  /* width: 400px; */
  background-color: black;
  font-size: 35px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}
#fhead {
    margin-top: 100px;
  margin-left: 45%;
  color: #777777;
  margin-bottom: 30px;

}
#fp{
    margin-left: 44%;
    font-size: 20px;
    color: #777777;
    margin-bottom: 60px;
}
#lp{
  text-align: center;
  color: #777777;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 100px;
  font-size: 18px;
}

#pg2{
  height: 400px;
  display: flex;
  margin-bottom: 100px;
}
#rc{
  flex-basis: 50%;
  padding-left: 25%;
  color: #777777;
}
#rc1{
  margin-bottom: 50px;
  padding-left: 100px;
  font-size: 25px;
}
#secimg{
  background-image: url("avatar_hat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}
#lc{
  color: #777777;
  width: 600px;
  padding-right: 350px;
  padding-top: 10px;
  font-size: 17px;
}
#good{
  color: #777777;
  text-align: center;
  margin-bottom: 60px;
}
h3{
  margin-left: 20%;
  margin-bottom: 20px;
}
.bigdiv{
  height: 30px;
  width: 900px;
  margin-left: 20%;
  background-color: rgba(245, 222, 179, 0.734);
}
.smalldiv{
  height: 30px;
  width: 600px;
  background-color: #777777;
  margin-bottom: 10px;
}

/* 
.row{
    padding-top: 170px;
    display: flex;
    align-items: center;
    width: 100%;
}
.col2 {
    flex-basis:50%;
  }

.col2 img{
    height: 400px;
    width: 400px;
    padding-left: 100px;
}
.col2 h1,.col2 p{
    text-align: center;
    padding-left: 250px;
    margin-bottom: 50px;
}
.col2 button{
    display: block;
    margin-left: 60%;
}

header{
    background-color: rgb(248, 212, 224);
}


#cathead{
  text-align: center;
  margin-top: 60px;
}

.categories{
  display: flex;
  flex-direction: row;
  width:100%;
  margin-top: 60px;
  margin-bottom: 200px;
}
.col3{
  flex-basis: 30%;
  margin-left: 5%;
  margin-right: 5%;
}
.col3 img{
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.col3 img:hover{
  height: 280px;
  width: 280px;
}
.col3 p{
padding-left: 15%;
padding-right: 15%;
 text-align: center;
}

#one{
  padding-left: 120px;
}
#two{
  padding-right: 120px;
}



.last{
  background-color: black;
  height: 400px;
  display: flex;
  width: 100%;
  color: white;
  align-items: center;
  
}
.col4{
  height: 100%;
  flex-basis: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}
#final{
  display: block;
} */
